<footer role="contentinfo">

    <script src="assets/js/gumshoe.min.js"></script>
    <script src="assets/js/smooth-scroll.min.js"></script>
    <script>
        gumshoe.init({

            offset: 125, // Distance in pixels to offset calculations
            activeClass: 'sidebar-nav-active' // Class to apply to active navigation link and it's parent list item
        });
        smoothScroll.init();
    </script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
    <!--<script language="JavaScript">-->
        <!--// Cache selectors-->
        <!--var lastId,-->
                <!--menu = $("aside"),-->
                <!--headerHeight = 125,-->
        <!--// All list items-->
                <!--menuItems = menu.find("a"),-->
        <!--// Anchors corresponding to menu items-->
                <!--scrollItems = menuItems.map(function () {-->
                    <!--var item = $($(this).attr("href"));-->
                    <!--if (item.length) {-->
                        <!--return item;-->
                    <!--}-->
                <!--});-->

        <!--// Bind click handler to menu items-->
        <!--// so we can get a fancy scroll animation-->
        <!--menuItems.click(function (e) {-->
            <!--var href = $(this).attr("href"),-->
                    <!--offsetTop = href === "#" ? 0 : $(href).offset().top - headerHeight + 1;-->
            <!--$('html, body').stop().animate({-->
                <!--scrollTop: offsetTop-->
            <!--}, 300);-->
            <!--e.preventDefault();-->
        <!--});-->

        <!--// Bind to scroll-->
        <!--$(window).scroll(function () {-->
            <!--// Get container scroll position-->
            <!--var fromTop = $(this).scrollTop() + headerHeight;-->

            <!--// Get id of current scroll item-->
            <!--var cur = scrollItems.map(function () {-->
                <!--if ($(this).offset().top < fromTop)-->
                    <!--return this;-->
            <!--});-->
            <!--// Get the id of the current element-->
            <!--cur = cur[cur.length - 1];-->
            <!--var id = cur && cur.length ? cur[0].id : "";-->

            <!--if (lastId !== id) {-->
                <!--lastId = id;-->
                <!--// Set/remove active class-->
                <!--menuItems-->
                        <!--.parent().removeClass("active")-->
                        <!--.end().filter("[href='#" + id + "']").parent().addClass("active");-->
            <!--}-->
        <!--});-->
    <!--</script>-->
    <div class="wrap">{% assign repo_url = site.repos[0].url %}
        <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>. The source is
            available at <a href="{{ repo_url }}">{{ repo_url }}</a>.</p>

        The <a href="https://github.com/18F/guides-template/">18F Guides theme</a> is based on <a
                href="https://github.com/cfpb/docter/">DOCter</a> from <a href="http://cfpb.github.io/">CFPB</a>.</p>
        <p><a href="{{ repo_url }}/edit/18f-pages/{{ page.path }}">Edit this page</a> or <a
                href="{{ repo_url }}/issues">file an issue</a> on GitHub.</p>
    </div><!--/.wrap -->
</footer>
