<footer role="contentinfo">

    <script src="assets/js/gumshoe.min.js"></script>
    <script src="assets/js/smooth-scroll.min.js"></script>
    <script>
        gumshoe.init({
            activeClass: 'sidebar-nav-active' // Class to apply to active navigation link and it's parent list item
        });
        smoothScroll.init();
    </script>
    <div class="wrap">
        <ul class="site-footer-items">
            <li><a href="{{site.bcdevevelopers_exchange_url}}/disclaimer">Disclaimer</a>
            </li>
            <li><a href="{{site.bcdevevelopers_exchange_url}}/privacy">Privacy</a>
            </li>
            <li><a href="{{site.bcdevevelopers_exchange_url}}/accessibility">Accessibility</a>
            </li>
            <li><a href="{{site.bcdevevelopers_exchange_url}}/copyright">Copyright</a>
            </li>
        </ul>

         <image class="bc_logo" src="images/bc-sponsor.jpg"></image>
    </div><!--/.wrap -->
</footer>
