body {
  font-family: Montserrat, sans-serif;
  margin: 0
}

p {
  font-family: Oxygen, sans-serif;
  font-weight: 300
}

header {
  background-color: #036;
  border-bottom: 3px solid #fcba19;
}

footer {
  background-color: #036;
  border-top: 3px solid #fcba19;
}
